<!--The content below is only a placeholder and can be replaced.-->
<form  #formData="ngForm" (ngSubmit)="onSubmit(formData)">
  <div class="file-field input-field">
    <div class="btn">
      <span>Select Your JSON File</span>
      <input type="file" name="incidentFile" ngModel accept="application/json">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Upload
    </button>
  </div>
</form>

